.testa{
    width: 40px;
    position:absolute;
}
.notes{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap:wrap-reverse;
}

    .notes #createNoteStyle:hover{
    border: solid black;
    border-radius: 5px;
}

.b{
    color: red;
    border: solid black;
    border-radius: 5px;
}
.test{
    width: 40px;
    position: absolute;
}