html{
    position: relative;
    font-family: Kanit;
    overflow: hidden;
    height: 800px;
    border: solid black;
}
body{
    background-color:rgba(0, 76, 66, 0.8);
    height:100%;
    margin:0px;
}   
