<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Global/globalStyle.css">
    <link rel="stylesheet" href="../../Styles/Register/registerStyle.css">
</head>
<body>
    <div class="OuterRegisterForm">
        <div class="InnerRegisterForm">
            <img class="Logo" src="../../../Assets/Global/Logo.png" alt="">
            <form action="../../../Backend/Components/Register/register.php" method="post" onsubmit="return checkSubmit()">
            <div class="OuterFieldInput">
            <h1>Register</h1>
                <div class="FieldInput">
                    <label>Name</label>
                    <input type="text" name="name">
                </div>
                <div class="FieldInput">
                    <label>Username</label>
                    <input type="text" name="username"> 
                </div>
                <br style="clear:both;">
                <div class="FieldInput">
                    <label>Email</label>
                    <input type="text" name="email">
                </div>
                <div class="FieldInput"> 
                    <label>Password</label>
                    <input id="password" type="text" name="password">
                </div>
                <br style="clear:both;">
                <div class="ConfirmPassword">
                    <div class="FieldInput">
                        <label>Confirm Password</label>
                        <input id="confirmPassword" type="text" name="confirmPassword">
                    </div>
                </div>
                <br style="clear:both;">
                <div class="SubmitRegisterBtn">
                    <button type="submit">Process</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    
   <script src="./register.js"></script>

</body>
</html>